<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="stats">
            <h2><span>Stats</span> {{stats.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

        </div>
    </div>
</div>
