<div>
    <h2 id="page-heading">
        <span>In Patients</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-in-patient" [routerLink]="['/in-patient/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
             Create In Patient
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="inPatients?.length === 0">
        <span>No inPatients found</span>
    </div>
    <div class="table-responsive" *ngIf="inPatients?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
             
            <th scope="col"  jhiSortBy="admitDate"><span>Admit Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dischargeDate"><span>Discharge Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="roomId"><span>Room</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="suggestedById"><span>Suggested By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="patientId"><span>Patient</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let inPatient of inPatients ;trackBy: trackId">
               <td>{{inPatient.admitDate | date:'mediumDate'}}</td>
                <td>{{inPatient.dischargeDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="inPatient.roomId">
                        <a [routerLink]="['/room', inPatient.roomId , 'view' ]" >{{inPatient.roomId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="inPatient.suggestedById">
                        <a [routerLink]="['/staff', inPatient.suggestedById , 'view' ]" >{{inPatient.suggestedById}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="inPatient.patientId">
                        <a [routerLink]="['/patient', inPatient.patientId , 'view' ]" >{{inPatient.patientId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/in-patient', inPatient.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline"></span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/in-patient', inPatient.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline"></span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/in-patient', { outlets: { popup: inPatient.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="inPatients?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
